# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit dmsd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/dms/dms.conf

[Unit]
Description=DMS daemon
After=network.target

[Service]
ExecStart=/usr/bin/dmsd -daemon -conf=/etc/dms/dms.conf -pid=/run/dmsd/dmsd.pid
# Creates /run/dms owned by dmscore
RuntimeDirectory=dmsd
User=dmscore
Type=forking
PIDFile=/run/dmsd/dmsd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
